body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(135deg,  orange, orange);
    min-height: 90h;
    color: black;
}

.about-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:black;
}

.about-section p, .about-section h4 {
    color:black;
}

footer {
    background-color: orange
}
.back-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: orange;
  color:black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.back-btn:hover {
  transform: scale(1.1);
  background: orange;
}
