body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(135deg, #2cc987, #88f3ca);
    min-height: 100vh;
    color: #333;
}

.about-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}

.about-section p, .about-section h4 {
    color: #f8f9fa;
}

footer {
    background-color: rgba(255,255,255,0.85);
}
.back-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #4b7bec;
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.back-btn:hover {
  transform: scale(1.1);
  background: #3867d6;
}
